[Unit]
Description=Holarse Web Server

[Service]
ExecStart=/opt/jruby/bin/jruby -S rails s -b 0.0.0.0

WorkingDirectory=/var/www/holarse/website-master

User=vagrant
Group=vagrant

Restart=always

Wants=mysql.service,memcached.service,nginx.service

[Install]
WantedBy=multi-user.target

